body {
  font-family: Arial, sans-serif;
  background-color: #d1e4e1;
  margin: 250px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.post-form-container {
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 500px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.post-form-container input, 
.post-form-container textarea {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.post-form-container button {
  padding: 10px 20px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.post-form-container button:hover {
  background-color: #08685d;
}

.posts-list {
  margin-top: 20px;
  max-width: 500px;
  width: 100%;
}

.post-item {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 10px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-item img {
  max-width: 150px; /* Ajusta el tamaño según tus necesidades */
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
}

.post-item .post-content {
  flex: 1;
}

.post-item h1 {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.post-item p {
  font-size: 14px;
  color: #666;
}

.back-button {
  display: block;
  margin: 16px auto;
  padding: 10px 20px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
}

.back-button:hover {
  background-color: #07695e;
}
